{{#each articles as |article|}}
  <div class="blog-post">
    <h3>{{article.title}} <small>{{moment-format article.date 'L'}}</small></h3>
    {{#if article.image}}
      <img class="thumbnail" src="http://placehold.it/850x350">
    {{/if}}
    <p>{{article.body}}</p>
    <div class="callout">

      <button type="button" class="alert small button right" {{action "delete" article}}>Delete</button>
    </div>
  </div>
{{/each}}
