<div class="callout large primary">
  <div class="row column text-center">
    <h1>Our Blog</h1>
  </div>
</div>

<div class="row" id="content">
  <div class="medium-8 columns">
    {{blog-posts articles=model.articles delete=(action 'deleteArticle')}}
  </div>

  <div class="medium-3 columns">
    {{side-bar authors=model.authors categories=model.categories createNewCategory=(action 'createCategory')}}
  </div>
</div>
