<div class="callout">
  {{gravatar-image email=user.account.email
  title=user.account.name
  defaultImage='identicon'
  class='img-circle'
  secure=false
  size=250}}
  <h3 class="subheader">{{user.account.name}}</h3>
</div>
