<div class="row" id="content">

  <div class="large-4 large-centered columns">
    <div class="sign-up-box">
      <div class="row">
        <div class="large-12 columns">
          {{signup-form user=model triggerSignUp=(action 'signeUp')}}
        </div>
      </div>
    </div>
  </div>

</div>
